In [1]:
import pandas as pd
import numpy as np
from pysus.online_data import SINAN, FTP_Inspect, parquets_to_dataframe
from pysus.preprocessing.decoders import decodifica_idade_SINAN
decodifica_idade_SINAN

# Regiões, Idade, Ano, '

In [2]:
years = SINAN.get_available_years('Poliomielite')

In [3]:
df = pd.DataFrame()
for y in years:
    fn = SINAN.download('Poliomielite', y)
    df2 = parquets_to_dataframe(fn)
    df = pd.concat([df, df2])

In [4]:
df.shape

(4172, 168)

In [5]:
for cname in df.columns:
    if cname.startswith('DT_'):
        df[cname] = pd.to_datetime(df[cname], errors='coerce')
    elif cname.startswith('ID_'):
        try:
            df[cname] = pd.to_numeric(df[cname])
        except ValueError:
            continue

In [6]:
df['idade_anos'] = decodifica_idade_SINAN(df.NU_IDADE_N, 'Y')
df[['NU_IDADE_N', 'idade_anos']]

   NU_IDADE_N  idade_anos
0        4011        11.0
1        4010        10.0
2        4002         2.0
3        4007         7.0
4        4012        12.0
..        ...         ...
16       4010        10.0
17       4071        71.0
18       4004         4.0
19       4006         6.0
20       4003         3.0

[4172 rows x 2 columns]

In [8]:
df['idade_anos'].isnull().sum()

0

In [46]:
df['SG_UF_NOT'] = df.SG_UF_NOT.astype(int)
df[df.SG_UF_NOT==31].to_csv('Polio_mod.csv',sep=';',compression='zip')

In [50]:
display(df)

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,EVOR_S_MSD,EVOR_S_FAC,EVOR1_DT_R,CLASSI_FIN,CRITERIO,CON_DESCAR,EVOLUCAO,DT_OBITO,DT_ENCERRA,idade_anos
0,2,A809,2012-01-05,201201,2012,35,351880,1333.0,2090554.0,2012-01-02,...,3,3,20120405,4,1,T13.9,2,NaT,2012-04-05,11.0
1,2,A809,2012-01-06,201201,2012,13,130260,5584.0,2012030.0,2012-01-02,...,3,3,20120306,4,1,G61.0,2,NaT,2012-03-06,10.0
2,2,A809,2012-01-09,201202,2012,52,520870,1779.0,2339722.0,2012-01-02,...,3,3,20120229,4,1,G83.9,1,NaT,2012-02-29,2.0
3,2,A809,2012-01-09,201202,2012,13,130260,5584.0,2012472.0,2012-01-04,...,3,3,20120306,4,1,G61.0,2,NaT,2012-03-09,7.0
4,2,A809,2012-01-09,201202,2012,42,420460,1558.0,2594277.0,2012-01-05,...,3,3,,4,1,G61.0,2,NaT,2012-01-25,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2,A809,2021-02-13,202106,2021,35,352590,1342.0,3012212.0,2021-01-31,...,,,,,,,,NaT,NaT,10.0
17,2,A809,2021-02-15,202107,2021,33,330020,NaN,6542891.0,2021-02-09,...,,,,,,,,NaT,NaT,71.0
18,2,A809,2021-02-16,202107,2021,16,160030,NaN,2020653.0,2021-02-09,...,,,,,,,,NaT,NaT,4.0
19,2,A809,2021-02-21,202108,2021,41,412150,1358.0,2554097.0,2021-01-21,...,,,,,,,,NaT,NaT,6.0
20,2,A809,2021-02-22,202108,2021,13,130260,5584.0,2018071.0,2021-02-21,...,,,,,,,,NaT,NaT,3.0

In [61]:
def func(a):
    estados = {
    '11': 'RO', '12': 'AC', '13': 'AM', '14': 'RR', '15': 'PA',
    '16': 'AP', '17': 'TO', '21': 'MA', '22': 'PI', '23': 'CE',
    '24': 'RN', '25': 'PB', '26': 'PE', '27': 'AL', '28': 'SE',
    '29': 'BA', '31': 'MG', '32': 'ES', '33': 'RJ', '35': 'SP',
    '41': 'PR', '42': 'SC', '43': 'RS', '50': 'MS', '51': 'MT',
    '52': 'GO', '53': 'DF'
}
    return estados[a]
    
df['SG_UF'].apply(lambda x: func(x))

0     SP
1     AM
2     GO
3     AM
4     SC
      ..
16    SP
17    RJ
18    AP
19    PR
20    AM
Name: SG_UF, Length: 4172, dtype: object

In [57]:
def func(a):
    estados = {
        11: 'RO', 12: 'AC', 13: 'AM', 14: 'RR', 15: 'PA',
        16: 'AP', 17: 'TO', 21: 'MA', 22: 'PI', 23: 'CE',
        24: 'RN', 25: 'PB', 26: 'PE', 27: 'AL', 28: 'SE',
        29: 'BA', 31: 'MG', 32: 'ES', 33: 'RJ', 35: 'SP',
        41: 'PR', 42: 'SC', 43: 'RS', 50: 'MS', 51: 'MT',
        52: 'GO', 53: 'DF'
    }
    print(a)
    return estados[a]
    
print(func(35))

35
SP

In [24]:
print(df['SG_UF'].isnull().sum())

0

In [14]:
print(list(df.columns))

['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'ID_REGIONA', 'ID_UNIDADE', 'DT_SIN_PRI', 'SEM_PRI', 'DT_NASC', 'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF', 'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'NDUPLIC_N', 'DT_DIGITA', 'CS_FLXRET', 'FLXRECEBI', 'MIGRADO_W', 'DTPRICONS', 'DT_INVEST', 'ANT_VACINA', 'ANT_DOSES', 'ANT_DT_VAC', 'ANT_30_DIA', 'ANT_PAIS', 'CLI_FEBRE', 'CLI_DIARRE', 'CLI_DORES', 'CLI_SINTOM', 'CLI_VOMITO', 'CLI_OBSTIP', 'CLI_CEFALE', 'CLI_OUTROS', 'OUTROS_DES', 'CLI_DT', 'CLI_AGUDA', 'CLI_FLACID', 'CLI_ASSIME', 'CLI_PROGRE', 'CLI_ASCEND', 'CLI_DESCEN', 'CLI_F_MIE', 'CLI_F_MSE', 'CLI_F_MID', 'CLI_F_MSD', 'LOCA_MIE_N', 'LOCA_MSE_N', 'LOCA_MID_N', 'LOCA_MSD_N', 'CLI_RESPIR', 'CLI_CERVIC', 'CLI_FACE', 'CLI_DT_EXA', 'CLI_A_FMIE', 'CLI_A_FMSE', 'CLI_A_FMID', 'CLI_A_FMSD', 'CLI_A_TMIE', 'CLI_A_TMSE', 'CLI_A_TMID', 'CLI_A_TMSD', 'CLI_A_T_CE', 'CLI_A_T_FA', 'CLI_A_SMIE', 'CLI_A_SMSE', 'CLI_A_SMID', 'CLI_A_SMSD', 'CLI_A_S_FA', 'CLI_AQ_E_N', 'CLI_AQ_D_N', 'CLI_PATE_N', 'CLI_PATD_N', 'CLI_BICE_N', 'CLI_BICD_N', 'CLI_TRIE_N', 'CLI_TRID_N', 'CLI_FLE_E', 'CLI_FLE_D', 'CLI_EXT_E', 'CLI_EXT_D', 'CLI_KERNIG', 'CLI_NUCA', 'CLI_BRUDZ', 'CLI_CONTAT', 'CLI_CON_ES', 'CLI_INJECA', 'CLI_LOCAL', 'ATE_HIPOTE', 'ATE_HOSP', 'ATE_DT_INT', 'ATE_UF', 'ATE_MUNICI', 'LAB_DT_F1', 'LAB_DT_NLE', 'LAB_DT_CEN', 'LAB_DT_R1', 'LAB_Q_F', 'LAB_CON_F', 'LAB_DT_RE1', 'LAB_RES_F1', 'LAB_RES_F2', 'LAB_RES_F3', 'LAB_DT_L_1', 'LAB_L_CEL1', 'LAB_L_LIN1', 'LAB_L_PRO1', 'LAB_L_GLI1', 'LAB_L_CL1', 'LAB_DT_L_2', 'LAB_L_CEL2', 'LAB_L_LIN2', 'LAB_L_PRO2', 'LAB_L_GLI2', 'LAB_L_CL2', 'LAB_DT_E_1', 'LAB_E_D_1', 'LAB_CELEBR', 'LAB_MEDULA', 'LAB_INTEST', 'LAB_DT_C1', 'LAB_RESULT', 'EVOR_DT_RE', 'EVOR_F_MIE', 'EVOR_F_MSE', 'EVOR_F_MID', 'EVOR_F_MSD', 'TONR_MIE_N', 'TONR_MSE_N', 'TONR_MID_N', 'TONR_MSD_N', 'TONR_CER_N', 'TONR_FAC_N', 'REFR_AQE_N', 'REFR_AQD_N', 'REFR_PAE_N', 'REFR_PAD_N', 'REFR_BIE_N', 'REFR_BID_N', 'REFR_TRE_N', 'REFR_TRD_N', 'EVOR_RC_FE', 'EVOR_RC_FD', 'EVOR_RC_EE', 'EVOR_RC_ED', 'EVOR_A_MIE', 'EVOR_A_MSE', 'EVOR_A_MID', 'EVOR_A_MSD', 'EVOR_S_MIE', 'EVOR_S_MSE', 'EVOR_S_MID', 'EVOR_S_MSD', 'EVOR_S_FAC', 'EVOR1_DT_R', 'CLASSI_FIN', 'CRITERIO', 'CON_DESCAR', 'EVOLUCAO', 'DT_OBITO', 'DT_ENCERRA', 'idade_anos']

In [22]:
a = df.isnull().sum()
pd.set_option('display.max_rows', None)
display(a.to_frame())

               0
TP_NOT         0
ID_AGRAVO      0
DT_NOTIFIC     0
SEM_NOT        0
NU_ANO         0
SG_UF_NOT      0
ID_MUNICIP     0
ID_REGIONA   369
ID_UNIDADE     1
DT_SIN_PRI     0
SEM_PRI        0
DT_NASC       29
NU_IDADE_N     0
CS_SEXO        0
CS_GESTANT     0
CS_RACA        0
CS_ESCOL_N     0
SG_UF          0
ID_MN_RESI     0
ID_RG_RESI   369
ID_PAIS        0
NDUPLIC_N      0
DT_DIGITA      0
CS_FLXRET      0
FLXRECEBI      0
MIGRADO_W      0
DTPRICONS      0
DT_INVEST     16
ANT_VACINA     0
ANT_DOSES      0
ANT_DT_VAC     0
ANT_30_DIA     0
ANT_PAIS       0
CLI_FEBRE      0
CLI_DIARRE     0
CLI_DORES      0
CLI_SINTOM     0
CLI_VOMITO     0
CLI_OBSTIP     0
CLI_CEFALE     0
CLI_OUTROS     0
OUTROS_DES     0
CLI_DT         0
CLI_AGUDA      0
CLI_FLACID     0
CLI_ASSIME     0
CLI_PROGRE     0
CLI_ASCEND     0
CLI_DESCEN     0
CLI_F_MIE      0
CLI_F_MSE      0
CLI_F_MID      0
CLI_F_MSD      0
LOCA_MIE_N     0
LOCA_MSE_N     0
LOCA_MID_N     0
LOCA_MSD_N     0
CLI_RESPIR     0
CLI_CERVIC     0
CLI_FACE       0
CLI_DT_EXA     0
CLI_A_FMIE     0
CLI_A_FMSE     0
CLI_A_FMID     0
CLI_A_FMSD     0
CLI_A_TMIE     0
CLI_A_TMSE     0
CLI_A_TMID     0
CLI_A_TMSD     0
CLI_A_T_CE     0
CLI_A_T_FA     0
CLI_A_SMIE     0
CLI_A_SMSE     0
CLI_A_SMID     0
CLI_A_SMSD     0
CLI_A_S_FA     0
CLI_AQ_E_N     0
CLI_AQ_D_N     0
CLI_PATE_N     0
CLI_PATD_N     0
CLI_BICE_N     0
CLI_BICD_N     0
CLI_TRIE_N     0
CLI_TRID_N     0
CLI_FLE_E      0
CLI_FLE_D      0
CLI_EXT_E      0
CLI_EXT_D      0
CLI_KERNIG     0
CLI_NUCA       0
CLI_BRUDZ      0
CLI_CONTAT     0
CLI_CON_ES     0
CLI_INJECA     0
CLI_LOCAL      0
ATE_HIPOTE     0
ATE_HOSP       0
ATE_DT_INT     0
ATE_UF         0
ATE_MUNICI     0
LAB_DT_F1      0
LAB_DT_NLE     0
LAB_DT_CEN     0
LAB_DT_R1      0
LAB_Q_F        0
LAB_CON_F      0
LAB_DT_RE1     0
LAB_RES_F1     0
LAB_RES_F2     0
LAB_RES_F3     0
LAB_DT_L_1     0
LAB_L_CEL1     0
LAB_L_LIN1     0
LAB_L_PRO1     0
LAB_L_GLI1     0
LAB_L_CL1      0
LAB_DT_L_2     0
LAB_L_CEL2     0
LAB_L_LIN2     0
LAB_L_PRO2     0
LAB_L_GLI2     0
LAB_L_CL2      0
LAB_DT_E_1     0
LAB_E_D_1      0
LAB_CELEBR     0
LAB_MEDULA     0
LAB_INTEST     0
LAB_DT_C1      0
LAB_RESULT     0
EVOR_DT_RE     0
EVOR_F_MIE     0
EVOR_F_MSE     0
EVOR_F_MID     0
EVOR_F_MSD     0
TONR_MIE_N     0
TONR_MSE_N     0
TONR_MID_N     0
TONR_MSD_N     0
TONR_CER_N     0
TONR_FAC_N     0
REFR_AQE_N     0
REFR_AQD_N     0
REFR_PAE_N     0
REFR_PAD_N     0
REFR_BIE_N     0
REFR_BID_N     0
REFR_TRE_N     0
REFR_TRD_N     0
EVOR_RC_FE     0
EVOR_RC_FD     0
EVOR_RC_EE     0
EVOR_RC_ED     0
EVOR_A_MIE     0
EVOR_A_MSE     0
EVOR_A_MID     0
EVOR_A_MSD     0
EVOR_S_MIE     0
EVOR_S_MSE     0
EVOR_S_MID     0
EVOR_S_MSD     0
EVOR_S_FAC     0
EVOR1_DT_R     0
CLASSI_FIN     0
CRITERIO       0
CON_DESCAR     0
EVOLUCAO       0
DT_OBITO    4140
DT_ENCERRA   215
idade_anos     0